<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="mcPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.microcredit.entity.ReferenciaCliente</class>
    <class>com.microcredit.entity.AbonoPrestamo</class>
    <class>com.microcredit.entity.BaseDia</class>
    <class>com.microcredit.entity.Cliente</class>
    <class>com.microcredit.entity.Gasto</class>
    <class>com.microcredit.entity.Cartera</class>
    <class>com.microcredit.entity.Prestamo</class>
    <class>com.microcredit.entity.Usuario</class>
    <class>com.microcredit.entity.PerfilUsuario</class>
    <class>com.microcredit.entity.TipoGasto</class>
    <class>com.microcredit.entity.Mora</class>
    <class>com.microcredit.entity.Credito</class>
    <class>com.microcredit.entity.Abono</class>
    <class>com.microcredit.entity.Cuadre</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
      <property name="javax.persistence.jdbc.password" value="mc"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="mc"/>
      <property name="javax.persistence." value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
